Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pkginfo==1.2.1
requests==2.10.0
requests-toolbelt==0.6.0
-e git+https://github.com/utfsmlabs/tirith.git@6fa2a286ba7e2f1980a1613410438ce36feb291c#egg=tirith
tirith-server==0.1.0.dev0
twine==1.6.5
websockets==3.1
Werkzeug==0.11.9
